.cart{
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
}

.cartdetails{
    display: flex;
    justify-content: space-between;

    .shoppinglist{
        width: 70%;
    }
    .cartbill{
        width: 30%;
        height: 35vh;
        border-radius: 10px;
        box-shadow: 0 0 5px black;
        text-align: center;
        margin: 2rem;

        button{
            width: 80%;
        }
        button:hover {
            background-color: #daae00; /* Yellow background on mouse-over */
          }
    }
}

.cartproduct{
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem;
}

.cartproduct img{
    border-radius: .5rem;
    margin: .5rem 1rem;
}

.cartitemname{
    width: 60%;
}
.cartitemprice{
    width: 20%;
}

.cart h1{
    margin: 2rem;
    border-radius: 20px;
    padding: 1rem;
    background-color: #ffcc00;
    text-align: center;
    /* box-shadow: 0 0 10px black; */
}

.cart h3{
    padding: 1rem;
    border-radius: 10px;
    text-align: right;
    display: flex;
    justify-content: space-between;
}


table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
    border: hidden;
    row-gap: 100px;
  
  }
  
  th {
    font-size: large;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    border-radius: 2px;
    transition: all .3s ease;
  }
  
  td {
    padding: 10px 20px;
    text-align: left;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s ease;
  }