.dietplangrid {
  display: grid;
  height: auto;
  width: auto;
  grid-template-columns: auto auto;
  padding: 2rem;
  row-gap: 2rem;
  column-gap: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
}

.dietplangrid-item {
  background-color: rgb(219, 219, 136);
  text-align: left;
  padding: 5px;
  height: 20rem;
  width: 35rem;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.dietplangrid-item:hover{
  transform: scale(1.01);
  transition: transform 0.5s;
  box-shadow: 0 0 10px black;
}

.dietplancontainer {
  background-color: rgba(0, 0, 0, 0.407);
  position: absolute;
  top: 70%;
  bottom: 0;
  left: 0;
  padding: 0 10px 0 10px;
}

.dietplancontainer h2 {
  color: #ffcc00;
  font-size: 2rem;
}

.dietplancontainer p {
  color: white;
  font-size: 1.1rem;
}

.vegan {
  background: url("../_Imgs/vegan.png");
  background-size: cover;
}

.vegetarian {
  background: url("../_Imgs/vege.png");
  background-size: cover;
}

.eggetarian {
  background: url("../_Imgs/egge.png");
  background-size: cover;
}

.nonvegetarian {
  background: url("../_Imgs/nonvege.png");
  background-size: cover;
}


@media screen and (max-width: 768px) {
  .dietplangrid {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
  }

  .dietplangrid-item {
    height: 12rem;
    width: auto;
  }

  .dietplancontainer {
    top: 60%;
    right: 0.5%;
    left: 0.5%;

    h {
      font-size: 1rem;
    }

    p {
      display: none;
    }
  }
}