.exercises{
    margin: 2rem;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
    padding: 1rem;
    background-color: #ffcc00;
}

.exercises h1{
    text-align: center;
    margin-top: 1rem;
}

.exerciseContainer{
    animation: fadeInUp .5s ease-out;
}

.muscleexercise{
    margin: 2rem;
    padding: 1rem 4rem;
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.muscleexercise video{
    height: 200px;
}

.muscleexercise h2{
    font-size: 2rem;
}