.footer {
  background-color: #ffcc00;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  height: 35vh;
}

.footersection1,
.footersection2,
.footersection3 {
  width: 30%;
  list-style: none;
  padding-top: 2% ;
  padding-left: 70px;
  .rightsReserved{
    margin-left: 20px;
  }
}

.footersection1 li{
  display: flex;
  margin: 20px 10px;
  font-size: 150;
  ul{
    font-size: large;
    margin: 0 10px 0 10px;
    color: black;
  }
  a{
    text-decoration: none;
  }
}

.footerlogo {
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;

  img {
    height: 3rem;
    width: auto;
  }
}

.footersection2 li{
  margin: 10px  ;
  font-size: larger;
}

.footersection3 li{
  margin: 10px  ;
}

.footericon {
  display: flex;

  svg {
    margin-right:20px;
    cursor: pointer;
    color: black;
    transition: all .3s ease;
  }

  svg:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 768px) {
  td {
    font-size: 0.8rem;
  }
}