* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
  padding: 10px 20px;
    font-size: 1rem;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcc00;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 10px black;
  }
  
  .navlogo {
    color: black;
    cursor: pointer;
    font-size: 24px;
    width: 13rem;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    img{
        height: 3rem;
        width: auto;
    }
  }

  .navlogo1{
    color: black;
    font-size: 24px;
    /* width: 15rem; */
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .navlogo1 svg{
    margin: 4px 10px 0px 10px;
  }

  .navlogo Link{
    cursor: pointer;
  }
  
  .nav-links {
    list-style: none;
    margin: 0px 0px 0px 0px ;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 15px;
    margin-left: 15px;
  }
  
  .nav-links li a {
    color: black;
    text-decoration: none;
    transition: all .2s ease;
  }
  
  .nav-links li a:hover {
    transform: scale(1.05);
    text-shadow: 0px 0px 1px ;
  }
  
  @media screen and (max-width: 768px) {
    
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 10px 0;
    }
  
    .nav-links li {
      margin: 0;
      text-align: center;
    }
  
    .nav-links li a {
      padding: 10px 0;
      display: block;
    }
  }


  ::-webkit-scrollbar {
    width: 15px;
    position: fixed;
  }
  
  ::-webkit-scrollbar-track {
    background-color: black;
  }

  ::-webkit-scrollbar-thumb{
    border-radius:10px;
    border: 1px solid black;
    background: linear-gradient(to right,black, #ffcc00,black);
  }
  