.userProfile{
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.userDetails{
    background: #ffcc00;
    padding: 50px 50px 50px 80px;
    border-radius: 0px 100px 100px 0px;
    margin-left: -70px;
    /* margin-left: 50px; */
}

.userDp img{
    width: 300px;
    height: 300px;
    overflow: hidden;
    animation-name: abc;
    animation-duration: 15s;
    position: relative;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    box-shadow: 0 0 10px black;
}

@keyframes abc{
    0% {
       border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%   ;
    }

    10%{
        border-radius: 59% 41% 36% 64% / 30% 30% 70% 70%   ;
    }
    
    20% {
       border-radius: 64% 36% 36% 64% / 65% 64% 36% 35%  ;
    }
    30%{
        border-radius: 36% 64% 69% 31% / 70% 64% 36% 30%  ;
    }
    40%{
        border-radius: 29% 71% 69% 31% / 31% 31% 69% 69%  ;
    }

    50% {
        border-radius: 65% 35% 40% 60% / 50% 31% 69% 50% ;
    }
    60%{
        border-radius: 65% 35% 40% 60% / 62% 63% 37% 38%  ;
    }

    70% {
       border-radius: 49% 51% 56% 44% / 50% 66% 34% 50%  ;
    }
    80%{
        border-radius: 38% 62% 66% 34% / 81% 64% 36% 19% ;
    }
    90%{
        border-radius: 64% 36% 36% 64% / 65% 64% 36% 35% ;
    }

    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    }
}